# Node.js / npm
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
.env.*

# Logs
logs/
*.log
*.log.*

# Dependency directories
bower_components/

# Production build output
/dist
/build

# Optional: Ignore IDE/editor files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

